<div class="w3-card w3-blue w3-container" style="min-height:200px; padding-top:50px;">

    <div class="w3-content">
        
    
   <div class="w3-col l3 s6 m3" style="padding:5px">

    <a>Log In to Your Dashboard</a> <br /><br />

    <a>Download SHYFT Connect App</a> <br /><br />

    <a>Download SHYFT FlexView App</a> <br /><br />

   </div>

   <div class="w3-col l3 s6 m3" style="padding:5px">

    <a>Contact Us</a> <br /><br />

    <a>FAQ & Technical Support</a> <br /><br />

    <a>Careers</a> <br /><br />

   </div>

   <div class="w3-col l3 s6 m3" style="padding:5px">

    <a>Terms of Use</a> <br /><br />

    <a>Privacy Agreement</a> <br /><br />

   </div>

   <div class="w3-col l3 s6 m3" style="padding:5px">

    <a>© 2022 SHYFT Power Solutions, Inc.</a> <br /><br />

    <a>Lagos | San Francisco</a> <br /><br />

   </div>


   </div>

</div>
