 <!--Header Component-->
<app-header></app-header>

<div class="w3-content w3-margin-top w3-margin-bottom">

    <!--Profile Component-->
    <app-profile></app-profile>

    <button (click)="testclick()"  appHighlight="red">Highlight me!</button>

    <a (click)="testclick()" appHighlight="red">  Hello World </a>


<div class="w3-margin-top w3-margin-bottom">

    <div class="w3-container w3-margin-bottom">
        
      <img src="assets/images/power-energy.gif" style="width:40px" />
      <b class="w3-bottombar w3-border-blue">  My Daily Power Usage </b>
      <p class="w3-small"> By Entering A residence ID You will be able to know the power consumption at that residence, for this user you have 10, 108 as a sample, In future we can have another Api returning the list of residence associated with this users. </p>
    </div>

    <div class="w3-container w3-margin-bottom">
  
    <div class="w3-col w3-right" style="width:100px">
     <a (click)="startsearchbtn()" style="width:100%" class="w3-btn w3-yellow w3-round w3-text-blue"> Search </a>
    </div>


    <div class="w3-rest">
        <input [(ngModel)]="data"  (ngModelChange)="typesearch()"  class="w3-input w3-round w3-border" placeholder="Enter Resident ID Here" />
    </div>


   </div>

   <div>
    
   </div>
   

</div>


 <!--Location Component-->
<app-location #appcont1></app-location>


</div>


 <!--Footer Component-->
<app-footer></app-footer>
