<!--Data is not loading-->
<div *ngIf=" datastatus==-1"  class=" w3-white w3-border  w3-round w3-border-blue w3-padding box">

    <img src="assets/images/loading.gif" class="w3-round" style="width:60px" />  Loading Data...

</div>

<!--Data Has loaded-->
<div *ngIf="datastatus==200"  class=" w3-white w3-border w3-round w3-border-blue  w3-padding box">

    <img src="https://www.w3schools.com/howto/img_avatar.png" class="w3-round" style="width:100px" />

    Welcome,  {{data.body.data["attributes"]["first_name"] + " " + data.body.data["attributes"]["last_name"] }}

</div>


<!--No Internet Connection-->
<div *ngIf=" datastatus==0"  class=" w3-white w3-border w3-round w3-border-blue  w3-padding box">

    No Internet Connection

    <br />   <br />

    <a (click)="getvalue()" style="width:150px" class="w3-btn w3-yellow w3-round w3-text-blue"> Retry </a>

</div>

<!--Other Error -->
<div *ngIf=" datastatus > 200"  class=" w3-white w3-border w3-border-blue  w3-padding box">

   Other Error Occured : {{data.statusText}}

   <br />   <br />

    <a (click)="getvalue()" style="width:150px" class="w3-btn w3-yellow w3-round w3-text-blue"> Retry </a>

</div>
